@use 'vars' as *;

.company-detail{
	&__wp{
		@include flex(between, 0, wrap);
		@include font-size(16);
	}
	&__left{
		width: 32%;
	}
	&__right{
		width: 66%;
	}
	&__ttl{
		font-family: $font-Monterrat;
		font-weight: 700;
	}
}