<div class="cms-main">
	<%- include('common/_sidebar'); %>
	<div class="cms-content">
		<%- include('common/_header'); %>
		<div class="system-page">
            <h2 class="system-page__ttl">Bảo trì hệ thống</h2>
            <a href="#" class="c-btn__01 c-btn__01--blue">Bật chế độ bảo trì</a>
        </div>
    </div>
</div>